
@{
    ViewBag.Title = "AddIncome";
    Layout = "~/Views/Shared/_LayoutAuthorised.cshtml";
}

<div class="col-md-4">
    <h3>Adding Income</h3>
    <form method="post" action="">
        <div class="form-group">
            <label for="income">Enter the name</label>
            <input type="text" class="form-control" placeholder="Income" id="income" name="Name" />
        </div>
        <input type="submit" value="Add" class="btn btn-success"/>
    </form>
</div>

