
@{
    ViewBag.Title = "EditWallet";
    Layout = "~/Views/Shared/_LayoutAuthorised.cshtml";
}

@model PrpProject.Models.Wallet

<div><h3>Do you want to change @Model.Name?</h3></div>

<div class="col-md-4">
    <h3>Editing wallet</h3>
    <form method="post" action="">
        <div class="form-group">
            <label for="income">Enter the name</label>
            <input type="text" class="form-control" value="@Model.Name" placeholder="Wallet" id="income" name="Name" />
        </div>
        <input type="submit" value="Edit" class="btn btn-success"/>
    </form>
</div>