
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_LayoutAuthorised.cshtml";
}

<table class="table">
    <tr class="table-heading">
        <td><p>Category</p></td>
        <td><p>Wallet</p></td>
        <td><p>Operation</p></td>
        <td><p>Date</p></td>
    </tr>
    @foreach (var history in ViewBag.Histories)
    {
    <tr>
        <td>@history.Name</td>
        <td>@history.WalletName</td>
        <td>@history.Operation</td>
        <td>@history.Date</td>
    </tr>
    }
</table>



