
@{
    ViewBag.Title = "Login";
}

        <div class="form col-md-5">
            <h3>Log In</h3>
            <form method="post" action="">
                <div class="form-group text-right">
                    <input type="text" class="form-control" placeholder="username" name="Login"/>
                    <input type="password" class="form-control" placeholder="password" name="Password"/>
                    <input type="submit" class="btn btn-md btn-success" value="LOGIN" />
                </div>
            </form>
        </div>
