
@{
    ViewBag.Title = "ManagerAccount";
    Layout = "~/Views/Shared/_LayoutAuthorised.cshtml";
}

@model PrpProject.Models.User

<div><h2>Welcome, @Model.Name!</h2></div>
<div><h3>Change the fields</h3></div>

<div class="col-md-5">
    <form method="post" action="">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="New name" name="Name" value="@Model.Name" />
            <input type="text" class="form-control" placeholder="New surname" name="Surname" value="@Model.Surname"/>
            <input type="text" class="form-control" placeholder="New username" name="Login" value="@Model.Login"/>
            <input type="password" class="form-control" placeholder="Old password" name="OldPassword"/>
            <input type="password" class="form-control" placeholder="New password" name="NewPassword"/>
            <input type="password" class="form-control" placeholder="New password" name="NewPasswordS"/>
            <input type="submit" class="btn btn-md btn-success" value="Save"/>
        </div>
    </form>
</div>
