
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.RegistrationMessage != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.RegistrationMessage");
            }
    </script>
}
        <div class="form col-md-5">
            <h3>Sign Up</h3>
            <form method="post" action="">
                <div class="form-group text-right">
                    <input type="text" class="form-control" placeholder="name" name="Name" />
                    <input type="text" class="form-control" placeholder="surname" name="Surname" />
                    <input type="text" class="form-control" placeholder="username" name="Login"/>
                    <input type="password" class="form-control" placeholder="password" name="Password"/>
                    <input type="password" class="form-control" placeholder="password" name="PasswordS"/>
                    <input type="submit" class="btn btn-md btn-success" value="SIGN UP"/>
                </div>
            </form>
        </div>





