
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_LayoutAuthorised.cshtml";
}

<a href="/Home/ManagerCategories"><div >Управление категориями</div></a>
<a href="/Home/ManagerAccount"><div >Управление аккаунтом</div></a>

