
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_LayoutAuthorised.cshtml";
}

<div id="settings">
    <a href="/Home/ManagerWallets"><div>Manage wallets</div></a>
    <a href="/Home/ManagerCategories"><div >Manage categories</div></a>
    <a href="/Home/ManagerAccount"><div >Manage account</div></a>
</div>


