
@{
    ViewBag.Title = "WalletOperation";
    Layout = "~/Views/Shared/_LayoutAuthorised.cshtml";
}

@model PrpProject.Models.Wallet
        <div class="col-md-5">
            <h4>Edit ballance of "@Model.Name"</h4>
            <form method="post" action="">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="username" name="money" value="@Model.Money"/>
                    <input type="submit" class="btn btn-md btn-success" value="Edit" />
                </div>
            </form>
        </div>